@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/PlayfairDisplay-Regular.ttf');
	src:
		local(''),
		url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/PlayfairDisplay-Medium.ttf');
	src:
		local(''),
		url('/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}
